#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,171,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "MCST\0"
            VALUE "FileDescription", "MCST Tracker Bridge\0"
            VALUE "FileVersion", "1.0.171.0\0"
            VALUE "InternalName", "MCST-TrackerBridge.dll\0"
            VALUE "OriginalFilename", "MCST-TrackerBridge.dll\0"
            VALUE "ProductName", "MCST Tracker Bridge\0"
            VALUE "ProductVersion", "1.0\0"
            VALUE "Comments", "Release 1.0; internal bridge build V171; protocol V2; targeted position-interface currency verification\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
